@media (min-width: 1200px) {
  .container {
  width: 960px;
  margin: 0 auto;
}

.landing-page h1, .landing-page p {
  width: 60%;
}

.landing-page-shadow .container {
  height: 33%;     
}

}