html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;  
}

a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a {
    color: #f1f1f1;
    font-weight: normal;
}

.nav-links a:last-of-type {
    cursor: not-allowed;
}

.about {
    background-color: #f1f1f1;
}

.about h1 {
    color: #152D41;
}

.about, .offer {
    padding: 50px 0;
}

.offer {
    background-color: #405D78;
    color: #000000;
}
.offer h1 {
    color: #FFFFFF;  
}

.offer h2 {
    font-size: 24px;
}